@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

*{
    font-family: 'Red Hat Text', sans-serif;
}

body{
    background-color: hsl(240, 17%, 14%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

h1{
    color: #fff;
    font-size: 1.3rem;
}

main{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 65px;
    height: 70px;
    margin: 10px;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
}
.page1{
    border-radius: 5px 5px 5px 5px;
    background-color: hsl(240, 22%, 22%);
}
.page2{
    border-radius: 5px 5px 5px 5px;
    background-color: hsl(240, 22%, 22%);
}