@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

*{
    font-family: 'Red Hat Text', sans-serif;
}
:root{
    --primary-color:rgb(132, 134, 169);
    --secondary-color:#fb6087;
    --dark-desaturated-blue:hsl(236, 21%, 26%);
    --very-dark-blue:hsl(235, 16%, 14%);
    --very-dark-black-blue: hsl(234, 17%, 12%);
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--very-dark-black-blue);
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../images/bg-stars.svg");
    z-index: -1;
}
.title{
    margin-top: 150px;
}
h1{
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 5px;
    font-weight: 400;
    margin-bottom: 3rem;
    padding: 0 1rem;

}

main{
    display: flex;
    justify-content: space-evenly;
}
.card{
    width: 70px;
    height: 70px;
    margin: 0;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;

}
.page1{
    border-radius: 5px 5px 10px 10px;
    background-color: hsl(240, 22%, 22%);
    position: relative;
    display: flex;
    justify-content: center;
    animation-name: flip-top;
    animation-duration: .8s;
    transform-origin: bottom;
    animation-timing-function: ease-in;


}
.page2{
    border-radius: 5px 5px 5px 5px;
    background-color: hsl(240, 22%, 22%);
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: center;
    transform-origin: top;
    animation: flip-bottom .8s ease-out;

}
h2{
    font-size: 2.1rem;
    color: var(--secondary-color);
    position: absolute;
    top: -18px;
    overflow: hidden;

}
p{
    color: var(--primary-color);
    position: absolute;
    top: 40px;
    font-size: .4rem;
    letter-spacing: 3px;
    
}
footer{
    background-image: url("../images/pattern-hills.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 155px;
}
footer img{
    position:relative;
    width: 20px;
    height: 20px;
    top: 2rem;
}
footer img:hover{
    cursor: pointer;
    filter: invert(55%) sepia(47%) saturate(2334%) hue-rotate(309deg) brightness(99%) contrast(108%);
}

@keyframes flip-top{
    100%{transform: rotateX(90deg);}
    
}

@keyframes flip-bottom{
    100%{transform: rotateX(0deg);}
}


@media (min-width:1440px){
    .title{
        margin-bottom: 4rem;
        margin-top: 125px;
    }
    h1{
        font-size: 1.5rem;
        letter-spacing: 8px;
    }
    main{
        justify-content: center;
        gap: 1.5rem;
    }
    .card{
        width: 160px;
        height: 160px;
        gap: 1px;
    }
    .page1{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom: 2px solid hsl(240, 22%, 22%);
    }
    .page2{
        border-top: 2px solid hsl(240, 22%, 22%);
        outline: 1px solid hsl(240, 22%, 22%);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    h2{
        font-size: 4rem;
        top: -20px;
    }
    p{
        font-size: 1rem;
        letter-spacing: 5px;
        top: 80px;
    }
    footer{
        height: 200px;
        background-position: 0 0;
    }
    footer img{
        width: 30px;
        height: 30px;
        
    }
}